@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Sansita+Swashed:wght@400;500&display=swap');

nav {
  width: 100%;
  background-color: #001f44;
  text-align: right;
  //position: fixed;
  z-index: 1000;


}

nav ul {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

nav ul span {

  margin-right: 13%;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lato',
    sans-serif;
  font-weight: 600;



}

nav ul li {
  display: inline-block;
  padding: 20px 10px;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}

nav ul li:hover {
  background-color: #30CC71;

}

nav ul li a {
  color: #fff;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  background-color: #001f44;
  text-align: right;
  color: #fff;
  box-sizing: border-box;
  font-size: 24px;
  display: none;

}

@media (max-width:760px) {
  .toggle {
    display: block;
  }

  ul {
    width: 100%;
    display: none;
  }

  nav ul li {
    display: block;
    text-align: center;
    transition: 300ms all;
    -webkit-transition: 300ms all;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -o-transition: 300ms all;
  }

  nav ul span {
    display: none;

  }

  .active {

    display: block;
  }
}

header {
  width: 100%;
  height: 100vh;
  background-image: url('/images/images.jpeg');
  object-position: center;
  object-fit: cover;
  position: relative;


}




.header-content-heading {

  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-content-heading h1:nth-child(1) {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;


}

.header-content-heading h1:nth-child(2) {
  font-size: 40px;
  color: #fff;
  font-weight: 500;
}

.header-content-heading p {

  font-size: 23px;
  color: whitesmoke;
}

.header-content-heading a {
  font-size: 21px;
  color: #fff;
  padding: 10px 15px;
  background-color: #30CC71;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
  cursor: pointer;

}

.header-cantent-heading-link:hover {
  background-color: whitesmoke;
  color: #30CC71;
  display: block;
  text-decoration: none;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}